
.header{
    font-size: 50px;
}

.tracklist {
    background-color:rgb(214, 213, 213);
    box-shadow: 10px 10px 5px #e3e3e3;
    padding-bottom: 20px;
    padding-top:20px;
    font-size: 12px;
    color: white;
    
}

.tracklist2{
    background-color:rgb(214, 213, 213);
    box-shadow: 10px 10px 5px #e3e3e3;
    padding-bottom: 20px;
    padding-top:20px;
    font-size: 12px;
    color: white;
    padding-bottom: 35px;

}

.tracklist3{
    background-color:rgb(214, 213, 213);
    box-shadow: 10px 10px 5px #e3e3e3;
    padding-bottom: 20px;
    padding-top:20px;
    font-size: 12px;
    color: white;
    padding-bottom: 53px;

}

.header {
    
    font-family: 'Roboto Condensed:700', sans-serif;
    font-weight: 700;
}

.header2 {
    
    font-family: 'Roboto Condensed:300', sans-serif;
    font-size: 25px;
    margin-top: -15px;
    font-weight: 300;
    margin-bottom: 25px;
}

.header3 {
    font-family: 'Roboto Condensed:700', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    
}

.albumname {
    font-family: 'Roboto Condensed:300', sans-serif;
    font-weight: 300;
    font-size: 25px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    
}

.albumname2 {
    font-family: 'Roboto Condensed:300', sans-serif;
    font-weight: 300;
    font-size: 25px;
    text-align: center;
    padding-bottom: 46px;
    border-bottom: 1px solid black;
    
}

.mySlides {
    max-width:100%;
    padding-bottom: 20px;
}

.img {
    max-width:100%;
    padding-bottom: 20px; 
    
}

.intro {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}

/*koop button*/
.button {
    
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    
}


.button4 {
    background-color: white;
    color: black;
     border-bottom: 1px solid black;
     width: 100%;
     margin-bottom: 70px;
     
}

.button4:hover {
 border-bottom: 1px solid white;
 

}

.background {
    background-color: #B7DBFF;
    color: #006;
    font-family:Verdana, Geneva, sans-serif;
    margin:10%;
}

/*DROPDOWNLIST*/

.dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    
}

.dropdown {
    position: relative;
    display: inline-block;
    padding-bottom: 100px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: ;
    min-width: 160px;
    
    z-index: 1;
    
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
}

.dropdown-content a:hover {background-color: rgb(214, 213, 213);}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    border-bottom: 1px solid black;
   
   

